<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<head>
    <title>Donator - Izvozi racune</title>
    <link rel="stylesheet" href="/static/izgled4.css" type="text/css" media="all" />
    <LINK REL=StyleSheet HREF="/static/weeklycalendar/calendar.css" TYPE="text/css">
	<SCRIPT LANGUAGE="JavaScript" 
	 SRC="/static/funkcije.js"></SCRIPT>
</head>
<body>
    <div id="banner"><h1>D O N A T O R</h1></div>

    <div id="centercontent" style="height:90%;">
        <strong><i>Direktne bremenitve</i></strong><tmpl_var name=POMOC>
	<br /><br />
	<iframe style="border:0px;width:100%; height:90%;" src="http://donator-sepa/invoices"></iframe>
    </div>
    <TMPL_INCLUDE NAME="DntMenu.tmpl">
    </form>
    
</body>
</html>
